{% extends 'base/base.html' %}

{% comment %} file path is name of html file and foldler it's in, as long as its all in templates{% endcomment %}
{% block title %}
    Login
{% endblock title %}
{% block content %}
    <main>
        <div>
            <h1>Login</h1>
            <form method="post">
                {% csrf_token %}
                {{ login_form.as_p }}
                <button>Login</button>
            </form>
        </div>
    </main>
{% endblock content %}
