{% extends 'base/base.html' %}

{% comment %} file path is name of html file and foldler it's in, as long as its all in templates{% endcomment %}
{% block title %}
    Create Task
{% endblock title %}
{% block content %}
    <main>
        <div>
            <h1>Create a new task</h1>
            <form method="post">
                {% csrf_token %}
                {{ create_task_form.as_p }}
                <button>Create</button>
            </form>
        </div>
    </main>
{% endblock content %}
