{% extends 'base/base.html' %}

{% comment %} file path is name of html file and foldler it's in, as long as its all in templates{% endcomment %}
{% block title %}
    Create Project
{% endblock title %}
{% block content %}
    <main>
        <div>
            <h1>Create a new project</h1>
            <form method="post">
                {% csrf_token %}
                {{ create_project_form.as_p }}
                <button>Create</button>
            </form>
        </div>
    </main>
{% endblock content %}
